<a href="https://colab.research.google.com/github/BitMarta/ProgettoDH/blob/main/Twitter_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Blocco Note Twitter API
###Questo blocco note è necesssario per scaricare Data da Twitter attraverso un account Developer. In questo caso scaricherò tweet sulla serie tv firmata Netflix, ovvero "Bridgerton"

In [1]:
#Primo passaggio scaricare pd di Pandas
import pandas as pd

In [ ]:
#Installiamo  i pacchetti TWARK
!pip install twarc
!pip3 install --upgrade twarc-csv

In [ ]:
#Configuriamo il pacchetto, mettendo la chiave API di Twitter
!twarc2 configure

In [4]:
#Download dei tweet
!twarc2 search --limit 10000 "bridgerton" results.jsonl

Set --limit of 10000 reached:  11% 63787379/604770000 [01:33<13:10, 684067.33it/s]

In [5]:
#Converte json in un file csv (con pandas)

!twarc2 csv results.jsonl tweets.csv

100% 31.6M/31.6M [00:07<00:00, 4.34MB/s]

ℹ️
Parsed 10060 tweets objects from 101 lines in the input file.
Wrote 10060 rows and output 74 columns in the CSV.

In [ ]:
#Per leggere il file

df = pd.read_csv('tweets.csv')
df.head()

In [ ]:
for item in df.text:
  print(item)